@use "_variables" as *;

@media screen and(min-width:$desktop-width) {
  .page {
    max-width: 1440px; /* Provvisorio */
    padding: 4.1rem 11rem;
  }

  .social-proof {
    display: flex;
    flex-wrap: wrap;
  }

  .title-container {
    flex: 0 0 50%;
  }

  .feedback-container {
    flex: 0 0 50%;
  }

  .review-card-container {
    display: flex;
  }

  .review-card {
    &:not(:last-of-type) {
      margin-right: 1.9rem;
    }
  }
}
