@use "_variables" as *;

/*  
    ----------------------------------------------------- § DESKTOP
*/
@media screen and(min-width:$desktop-width) {
  /*  
        ----------------------------------------------------- § BASIC STRUCTURE
    */
  .page {
    max-width: 1440px; /* Provvisorio */
    padding: 6.7rem 11rem;
  }

  .social-proof {
    display: flex;
    flex-wrap: wrap;
  }

  .title-container {
    flex: 0 0 50%;
  }

  .feedback-container {
    flex: 0 0 50%;
  }

  .review-card-container {
    display: flex;
  }

  .review-card {
    &:not(:last-of-type) {
      margin-right: 1.9rem;
    }
  }

  /*  
      ----------------------------------------------------- § TYPOGRAPHY
  */
  .title-container {
    text-align: left;
    padding-right: 6.5rem;
  }
  .page-title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
}
