@use "_variables" as *;

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: grayscale;
}

html {
  font-size: $base-font-size;
}

body {
  color: $very-dark-magenta;
  font-family: $font-family;
  background-color: $white;
  background-image: url("/images/bg-pattern-top-mobile.svg"),
    url("/images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;
}

.page {
  max-width: 375px; /* Provvisorio */
  padding: 4.1rem 1.5rem;
}

.title-container {
  margin-bottom: 2.6rem;
  @extend %tac;
}

.page-title {
  line-height: 1.1em;
  margin-bottom: 0.7em;
}

.page-subtitle {
  @extend %m0p0;
  font-size: 0.95rem;
  line-height: 1.75em;
}

.feedback-container {
  @extend %tac;
  margin-bottom: 3.1rem;
}

.feedback {
  background: $light-grayish-magenta;
  border-radius: 0.5rem;
  margin: 0.8rem 0 0 0;
  padding: 1.2rem;
}

.feedback__stars {
  margin-bottom: 0.6rem;
  img {
    display: inline-block;
    margin: 0 0.15rem;
  }
}

.feedback__website {
  @extend %m0p0;
  font-size: 0.9rem;
}

.review-card {
  border-radius: 0.5rem;
  background: $very-dark-magenta;
  padding: 2.9rem 2.2rem 2rem;
  color: $light-grayish-magenta;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.review-card__img,
.review-card__costumer-info {
  display: inline-block;
}

.review-card__costumer-info {
  margin-bottom: 1.9rem;
}

.review-card__img {
  width: 2.5rem;
  border-radius: 100px;
  vertical-align: top;
  margin-right: 1.4rem;
}

.review-card__costumer-name {
  @extend %m0p0;
  margin: 0.1rem 0 0.4rem;
  font-weight: 700;
}

.review-card__costumer-type {
  @extend %m0p0;
  color: $soft-pink;
}

.review-card__review {
  @extend %m0p0;
  font-size: 0.85rem;
  line-height: 1.7em;
  font-weight: 500;

  &:before {
    content: "“";
  }
  &:after {
    content: "”";
  }
}
