// Primary Colors
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

// Neutral Colors
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Fonts

$base-font-size: 15px;
$font-family: "Spartan", sans-serif;

//Extends

%tac {
  text-align: center;
}

%m0p0 {
  margin: 0;
  padding: 0;
}
